name: AWS OIDC Deploy

on:
  push:
    branches: main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write     # REQUIRED for OIDC
      contents: read

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::792306802366:role/GitHub-OIDC-Role
        aws-region: us-east-1

    - name: Verify Identity
      run: aws sts get-caller-identity
